# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.cs]
insert_final_newline = true
# CS8618: Non nullable field _name is not initialized. Consider declare the field as nullable type
#dotnet_diagnostic.CS8618.severity = none

[*.xaml]
insert_final_newline = true

[*.xaml.cs]
insert_final_newline = true
